<launch>
    <arg name="local_robot_id" default="0" />
    <arg name="other_robot_id" default="0" />

    <arg name="topic_left_image_rect" value="/robot_$(arg local_robot_id)/camera/infra1/image_rect_raw"/>
    <arg name="topic_right_image_rect" value="/robot_$(arg local_robot_id)/camera/infra2/image_rect_raw"/>
    <arg name="topic_left_camera_info" value="/robot_$(arg local_robot_id)/camera/infra1/camera_info"/>
    <arg name="topic_right_camera_info" value="/robot_$(arg local_robot_id)/camera/infra2/camera_info"/>
    <arg name="topic_rgb_image_rect" value="/robot_$(arg local_robot_id)/camera/color/image_raw" />

    <include file="$(find multi_robot_separators)/launch/multi_robot_separators.launch">
    <!-- all vars that included.launch requires must be set -->
        <arg name="other_robot_id" value="$(arg other_robot_id)"/>
        <arg name="local_robot_id" value="$(arg local_robot_id)"/>
        <arg name="frame_id" value="/robot_$(arg local_robot_id)/camera_link"/>
        <arg name="estimate_stereo_transform_from_tf" value="true" />

        <arg name="topic_left_image_rect" value="$(arg topic_left_image_rect)"/>
        <arg name="topic_right_image_rect" value="$(arg topic_right_image_rect)"/>
        <arg name="topic_left_camera_info" value="$(arg topic_left_camera_info)"/>
        <arg name="topic_right_camera_info" value="$(arg topic_right_camera_info)"/>
        <arg name="topic_rgb_image_rect" value="$(arg topic_rgb_image_rect)" />

        <arg name="use_estimates_of_poses" value="true" />
    </include>

    <arg name="stereo_odom_start_delay" default="10.0" />
    <!-- Stereo Odometry -->
    <node pkg="rtabmap_ros" type="stereo_odometry" name="stereo_odometry" output="screen" launch-prefix="bash -c 'sleep $(arg stereo_odom_start_delay); $0 $@' " >
      <param name="frame_id"      type="string" value="$(arg frame_id)"/>
      <param name="estimate_stereo_transform_from_tf" type="bool" value="$(arg estimate_stereo_transform_from_tf)"/>
      <param name="Odom/Strategy"      type="string" value="0"/> <!--  0=Frame-to-Map, 1=Frame=to=Frame-->
        <!-- <param name="Odom/ImageBufferSize"  type="string" value="0"/>  -->
        <!-- <param name="Vis/EstimationType" type="string" value="1"/> 0=3D->3D 1=3D->2D (PnP) -->
        <!-- <param name="Vis/PnPFlags"       type="string" value="0"/> -->
        <!-- <param name="Vis/PnPReprojError"     type="string" value="1"/> -->
        <!-- <param name="Vis/CorFlowWinSize"     type="string" value="15"/> -->
      <param name="Vis/CorType"     type="string" value="1"/>
        <!-- <param name="GFTT/MinDistance"   type="string" value="10"/> -->
        <!-- <param name="GFTT/QualityLevel"  type="string" value="0.002"/>  -->
        <!-- <param name="Icp/CorrespondenceRatio"  type="string" value="0.1"/>  -->
        <!-- <param name="Icp/Iterations"  type="string" value="10"/>  -->
        <!-- <param name="Icp/MaxCorrespondenceDistance"  type="string" value="0.3"/>  -->
        <!-- <param name="Icp/PointToPlane"  type="string" value="true"/>  -->
        <!-- <param name="Icp/MaxTranslation"  type="string" value="0"/>  -->
        <!-- <param name="Icp/VoxelSize"  type="string" value="0"/>  -->
        <!-- <param name="Icp/Epsilon"  type="string" value="0.01"/>  -->
        <!-- <param name="Reg/Strategy"  type="string" value="0"/>  -->
      <param name="OdomF2M/MaxSize" type="string" value="1000"/> 
      <param name="Vis/MaxFeatures" type="string" value="600"/>
      <param name="approx_sync" type="bool" value="$(arg approx_sync)"/>
    </node>
</launch>
