<launch>
<!-- Change these parameters -->
<arg name="local_robot_id" />
<arg name="other_robot_id" />
<arg name="frame_id" />
<arg name="estimate_stereo_transform_from_tf" default="false" />

<arg name="topic_left_image_rect" />
<arg name="topic_right_image_rect" />
<arg name="topic_left_camera_info" />
<arg name="topic_right_camera_info" />
<arg name="topic_rgb_image_rect" />

<arg name="set_fixed_covariance" default="true" />
<arg name="translation_std" default="0.3" />
<arg name="rotation_std" default="0.05" />

<arg name="use_estimates_of_poses" default="true" />
<arg name="approx_sync" default="false" />

<!-- Change the robot id here too! -->
  <group ns="robot_$(arg local_robot_id)">

    <!-- Don't forget to change the robot ID in the name space! -->
    <param name="local_robot_id" type="int" value="$(arg local_robot_id)" />
    <param name="other_robot_id" type="int" value="$(arg other_robot_id)" />
    <param name="frame_id"      type="string" value="$(arg frame_id)"/>
    <param name="estimate_stereo_transform_from_tf" type="bool" value="$(arg estimate_stereo_transform_from_tf)"/>

   <!-- Covariance of separators parameters -->
    <param name="set_fixed_covariance" type="bool" value="$(arg set_fixed_covariance)" />
    <param name="translation_std" type="double" value="$(arg translation_std)" />
    <param name="rotation_std" type="double" value="$(arg rotation_std)" />

   <!-- Also send estimates of poses with separators found. Requires to have a service to compute those advertised -->
    <param name="use_estimates_of_poses" type="bool" value="$(arg use_estimates_of_poses)" />

    <!-- Remapping image topics -->
    <remap from="rgb/image_rect" to="$(arg topic_rgb_image_rect)"/>
    <remap from="left/image_rect" to="$(arg topic_left_image_rect)"/>
    <remap from="right/image_rect" to="$(arg topic_right_image_rect)"/>
    <remap from="left/camera_info" to="$(arg topic_left_camera_info)"/>
    <remap from="right/camera_info" to="$(arg topic_right_camera_info)"/>

    <!-- Nodes to run -->
    <node pkg="multi_robot_separators" type="stereo_cam_geometric_tools" name="stereo_cam_geometric_tools" output="screen" />
    <node pkg="multi_robot_separators" type="find_separators.py" name="find_separators" output="screen"/>
    <!-- <node pkg="multi_robot_separators" type="factor_graph" name="factor_graph"/> -->
    <node pkg="multi_robot_separators" type="communication" name="communication" output="screen"/>

  </group>
</launch>
